/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e0000af;
}

header {
    background-color: #130041;
    color: #880000;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
} */
